.btn{
    background-color: #409;
}

img.result-images{
    float: left;
    height: 300px;
    border: 3px solid #409;
}
img.result-image{
    float: center;
    height: 300px;
    border: 3px solid #409;
}

#inputCanvas{
    height: 300px;
    border: 2px solid rgb(16, 192, 186);
}

.page-header,
.page-footer {
    background-color: #409;
    color: #fff;
    padding: 20px;
}

body {
    height:100%;
    background-color: #fff;
    color: #409;
    padding: 0;
    margin: 0;
}
